* {
  margin: 0%;
  padding: 0%;
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
}

video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
h1 {
  text-align: center;
  z-index: 1;
}

h2 {
  text-align: center;
  z-index: 1;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 12px;
}

#border {
  color: black;
  background-color: #fff;
  border-radius: 50px;
}

.center {
  text-align: center;
  padding: 20px;
}

button {
  border-radius: 150px;
  text-decoration: none;
  padding: 8px 10px;
}

.pdf {
  background-color: red;
}

.xlsv {
  background-color: green;
}

.jpg {
  background-color: blue;
}

a .sub {
  padding-top: 30px;
}

p {
  padding-top: 15px;
  font-size: 10px;
  text-align: center;
}

img {
  width: 50px;
  padding-top: 15px;
  padding-left: 45%;
  padding-right: 55%;
}
