* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}

.course {
  font-size: 15px;
}

body h3,
h4,
p,
button {
  font-family: "Poppins", sans-serif;
  /* background-image: url(https://c4.wallpaperflare.com/wallpaper/1007/641/126/digital-art-pattern-vertical-portrait-display-wallpaper-preview.jpg);
  background-position: center; */
}

body {
  min-height: 100vh;
  background: black;
}

header {
  position: sticky;
  top: -13px;
  margin-top: -13px;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px 0px;
  /* background: black; */
  height: 50px;
  z-index: 100;
  backdrop-filter: blur(1rem);
}

header h1 {
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

#logo_top {
  width: 55px;
}

video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

/* h3 {
  background-image: url(color_bar.jpg);
  background-size: 300%;
  background-position: left;
  animation: rgb 30s linear infinite;
} */

/* @keyframes rgb {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
} */

h1 {
  text-align: center;
  z-index: 1;
}

h2 {
  text-align: center;
  z-index: 1;
}

h3 {
  margin-bottom: 10px;
  font-size: 25px;
  border-radius: 10px;
  color: white;
  position: sticky;
  top: 67px;
  background-color: #e056fd;
  background-image: linear-gradient(to right, #e056fd 0%, blue, black);
  overflow: hidden;
}

h4 {
  font-size: 12px;
}

.center {
  text-align: center;
  padding: 13px 13px;
  margin: 6px 6px;
}

button {
  border-radius: 50px;
  text-decoration: none;
  padding: 5px 10px;
}

.pdf {
  background-color: white;
  color: red;
  font-weight: bold;
}

.pdf:hover {
  background-color: red;
  color: white;
  font-weight: bold;
}

.pdf_image,
.jpg_image,
.xlsv_image,
.classroom_image,
.meet_image {
  height: 20px;
}

.xlsv {
  background-color: white;
  color: green;
  font-weight: bold;
}

.xlsv:hover {
  background-color: green;
  color: white;
  font-weight: bold;
}

.jpg {
  background-color: white;
  color: blue;
  font-weight: bold;
}

.jpg:hover {
  background-color: blue;
  color: white;
  font-weight: bold;
}

.classroom,
.meet {
  background-color: white;
  color: forestgreen;
  font-weight: bold;
}

.classroom:hover {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.elements {
  padding-bottom: 25px;
  /* width: auto; */
}

p {
  padding-top: 15px;
  font-size: 12px;
  text-align: center;
}

#logo_with_name {
  width: 100%;
}

#logo {
  width: 80px;
  padding-top: 15px;
  padding-right: 16px;
}

.Books,
.syllabus,
.timetable,
.class_links,
.Alerts,
.links {
  border: 2.7px solid white;
  width: 350px;
  border-radius: 1.2em;
  backdrop-filter: blur(1.7rem);
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  background: black;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.links img {
  width: 55px;
}

.fixed_height {
  height: fit-content;
}
